/* Navigation Bar Styles 
 * Color: Blue #e8fdff; Icon Blue: #51c2ca; Green: #244751; BG Gray: #eee; Dark Gray: #c0bac4;
 */

#nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0px 2em 0px 2em;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  line-height: 80px;
}

/* compose button */
#nav-bar .compose {
  position: absolute;
  right: 2%;
  margin: 15px 5px 0 0;
  padding: 1em;
  background-color: #eee;
  border-radius: 5px;
  border: solid 1px #eee;
}

/* compose hover effect */
#nav-bar .compose:hover { 
  background-color: #51c2ca;
  border: solid 2px #eee;
}