/* Input Tweet Form Styles */
.new-tweet {
  border: solid #c0bac4 1px;
  border-radius: 5px;
  margin: 2em 2em;
  padding: 2px 2px;
  background-color: #eee;
  padding-bottom: 5px;
  color: #2d2e4a;
  
}

.new-tweet form {
  width: 100%;
  padding: 0px 10px;
}

/* form header text style */
.new-tweet h2 {
  border-bottom: solid black 1px;
  width: 95%;
  padding: 2px 2px;
  margin: 10px 10px;
}

/* form counter  style */
.new-tweet .counter {
  float: right;
  line-height: 24px;
  color: #2d2e4a;
}

/* form textarea  style */
.new-tweet form textarea {
  width: 100%;
  padding: 10px 10px;
  margin: 0;
}

.new-tweet form input {
  color: #2d2e4a;
}
