/* Input Tweet Form Styles 
 * Color: Blue #e8fdff; Icon Blue: #51c2ca; Green: #244751; BG Gray: #eee; Dark Gray: #c0bac4;
 */

/* New tweet section box */
.new-tweet {
  border: solid #c0bac4 1px;
  border-radius: 5px;
  margin: 2em 2em;
  padding: 2px 2px;
  background-color: #eee;
  padding-bottom: 5px;
  color: #2d2e4a;
}

/* form header text */
.new-tweet h2 {
  border-bottom: solid black 1px;
  width: 95%;
  padding: 2px 2px;
  margin: 10px 10px;
}

/* tweet form box */
.new-tweet form {
  width: 100%;
  padding: 0px 10px;
}

/* tweet char counter */
.new-tweet .counter {
  float: right;
  line-height: 24px;
  color: #2d2e4a;
}

/* tweet input */
.new-tweet form textarea {
  width: 100%;
  padding: 10px 10px;
  margin: 0;
}

/* tweet submimt button*/
.new-tweet form input {
  color: #2d2e4a;
}
